@font-face {
  font-family: 'Galaxie Copernicus';
  src: url("../fonts/GalaxieCopernicus-Book.eot");
  src: url("../fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GalaxieCopernicus-Book.woff2") format("woff2"), url("../fonts/GalaxieCopernicus-Book.woff") format("woff"), url("../fonts/GalaxieCopernicus-Book.ttf") format("truetype"), url("../fonts/GalaxieCopernicus-Book.svg#GalaxieCopernicus-Book") format("svg");
}

@font-face {
  font-family: 'Inter VariableFont';
  src: url("../fonts/Inter-VariableFont_slntwght.ttf") format("truetype");
  src: url("../fonts/inter-variablefont_slntwght-webfont.woff2") format("woff2"), url("../fonts/inter-variablefont_slntwght-webfont.woff") format("woff");
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.button-text {
  float: left;
  color: #000000;
  white-space: nowrap;
  line-height: 2px;
  height: 45px;
  padding: 20px 25px;
  border-radius: 4px 0 0px 4px;
  font-size: 16px;
  border: 1px solid #C4C4C4;
}

.button-icon {
  position: relative;
  width: 45px;
  height: 45px;
  fill: #000000;
  padding: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 0 4px 4px 0;
  border-left: 0px;
}

.card-subtitle {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.card-subtitle:after {
  content: '';
  position: absolute;
  top: 6px;
  bottom: 0;
  left: 88px;
  right: 0;
  width: 25px;
  height: 1px;
  background-color: #c8c8c8;
}

.card span {
  margin-left: 35px;
}

.card-text--h2 {
  font-size: 32px;
}

.card-text--h3 {
  font-size: 25px;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
}

.grid-view .card:first-child {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
}

.social__items {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social a {
  color: #74788A;
}

.social a:hover {
  color: #003A92;
  transition: all 0.5s ease-in-out;
}

.navbar {
  width: 96%;
}

.navbar .active {
  color: #003A92 !important;
}

.navbar li {
  margin-left: 20px;
}

.navbar a:hover {
  color: #003A92;
  transition: all 0.5s ease-in-out;
}

.fixed {
  top: -70px;
  margin-top: 70px;
  width: 100%;
  position: fixed !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: margin 0.6s ease 0s, transform 0.6s ease 0s;
  z-index: 1;
}

.banner {
  position: relative;
  width: 96%;
  height: 100%;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 138px);
  background-color: #ffffff;
  margin-left: auto;
  z-index: -1;
}

.banner h1 {
  font-size: 2.8rem;
  color: #003A92;
}

.banner img {
  width: 94%;
  margin-left: auto;
}

.footer {
  background-color: #3C3C3C;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  justify-content: start;
}

.footer li {
  display: inline-block;
  margin-right: 20px;
}

.footer li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.footer li a:hover {
  color: #2196f3;
}

body {
  font-family: "Inter VariableFont", serif;
  font-weight: normal;
  font-style: normal;
  background-color: #F2EFEE;
}

.font-base {
  font-family: "Inter VariableFont", serif;
}

.font-title {
  font-family: "Galaxie Copernicus", serif;
}

.title-header {
  color: #003A92;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.mission {
  position: relative;
}

.mission:before {
  position: absolute;
  content: '';
  top: 0;
  width: 96%;
  height: 65%;
  background: #8C2531;
  z-index: -1;
}

.mission img {
  width: 93%;
  height: auto;
}

.founders {
  position: relative;
}

.founders:before {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 60%;
  background: #D7C3AE;
  z-index: -1;
}

.founders__body {
  position: relative;
  width: 100%;
  height: auto;
}

.founders__content {
  position: absolute;
  content: '';
  left: 9%;
  bottom: 0;
}

.founders img {
  width: 96%;
  height: auto;
  display: block;
  margin: auto;
}

.gallery__contain {
  column-count: 3;
  column-gap: 0em;
  height: 560px;
}

.gallery__contain__items {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gallery__contain {
    column-count: auto;
    column-gap: 0em;
    height: auto;
  }
  .gallery__contain__items {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
  .founders__content {
    display: none;
  }
  .grid-view {
    display: block;
    grid-template-columns: repeat(2, auto);
    align-items: flex-start;
  }
  .show {
    margin-top: 30px;
  }
  .show li {
    border-bottom: 1px solid #ececec;
    padding: 10px;
    margin: 0;
  }
  .navbar-light .navbar-toggler {
    border-color: #03a9f400;
    color: #03a9f400;
  }
  span.menu-line {
    width: 30px;
    height: 2px;
    background: #a2a2a2;
    display: block;
    margin: 7px 0px;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 2px);
    transition: all 0.5s ease-in-out;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    display: none;
    transition: all 0.5s ease-in-out;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -5px);
    transition: all 0.5s ease-in-out;
  }
  button.navbar-toggler.collapsed {
    transition: all 0.5s ease-in-out;
  }
}
