@import 'base/fonts',
'base/variables',
'base/mixins';

@import 'components/button', 'components/card';

@import 'layout/header', 'layout/footer';

body {
    font-family: $base-font;
    font-weight: normal;
    font-style: normal;
    background-color: $bg-color;
}

// Font Class IDentification
.font {
    &-base {
        font-family: $base-font;
    }

    &-title {
        font-family: $header-font;
    }
}

.title-header {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.mission {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        @include size(96%, 65%);
        background: $red-color;
        z-index: -1;
    }

    img {
        @include size(93%, auto)
    }
}

.founders {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        @include size(100%, 60%);
        background: $light-grey-color;
        z-index: -1;
    }

    &__body {
        position: relative;
        @include size(100%, auto);
    }

    &__content {
        position: absolute;
        content: '';
        left: 9%;
        bottom: 0;
    }

    img {
        @include size(96%, auto);
        display: block;
        margin: auto;
    }
}

.gallery {
    &__contain {
        @include masorney(3, 560px);
    }
}

@import 'base/responsive';