.button {
    @include flex(flex-start);
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.1s ease;

    &-text {
        float: left;
        color: $black-color;
        white-space: nowrap;
        line-height: 2px;
        @include size(null, 45px);
        padding: 20px 25px;
        border-radius: 4px 0 0px 4px;
        font-size: 16px;
        border: 1px solid $border-color;
    }


    &-icon {
        position: relative;
        @include size(45px, 45px);
        fill: $black-color;
        padding: 14px;
        border: 1px solid $border-color;
        border-radius: 0 4px 4px 0;
        border-left: 0px;
    }

    // &:hover {
    //     background-color: $color-white;

    //     &::after {
    //         bottom: 0;
    //     }
    // }

}