.card{
    &-subtitle{
        position: relative;
        text-transform:uppercase;
        font-size: 12px;
        font-weight: 600;
        &:after{
            @include position-absolute(6px,0,88px,0);
            @include size(25px,1px);
            background-color:$grey-color;
        }
    }
    span{
        margin-left: 35px;
    }
    &-text--h2{
        font-size: 32px;
    }
    &-text--h3{
        font-size: 25px;
    }
}

.grid-view{
    @include grid (grid,2, auto, null);
    .card{
        &:first-child{
            @include grid-column-row(1 / span 3, 1 / span 2 )
        }
    }
}