@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('../fonts/GalaxieCopernicus-Book.eot');
    src: url('../fonts/GalaxieCopernicus-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GalaxieCopernicus-Book.woff2') format('woff2'),
        url('../fonts/GalaxieCopernicus-Book.woff') format('woff'),
        url('../fonts/GalaxieCopernicus-Book.ttf') format('truetype'),
        url('../fonts/GalaxieCopernicus-Book.svg#GalaxieCopernicus-Book') format('svg');
}

@font-face {
    font-family: 'Inter VariableFont';
    src: url('../fonts/Inter-VariableFont_slntwght.ttf') format('truetype');
    src: url('../fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
        url('../fonts/inter-variablefont_slntwght-webfont.woff') format('woff');
}
