@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin grid($grid, $width1, $width2, $gap) {
  display: $grid;
  grid-template-columns: repeat($width1, $width2);
  align-items: flex-start;
  grid-gap: $gap;
}

@mixin grid-column-row($column, $row) {
  grid-column: $column;
  grid-row: $row;
}

@mixin list-items {
  list-style-type: none;
  padding: 0;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin position-absolute($top, $bottom, $left, $right) {
  content: '';
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin hover {
  color: $primary-color;
  transition: all 0.5s ease-in-out;
}

@mixin masorney($count, $height) {
  column-count: $count;
  column-gap: 0em;
  height: $height;

  &__items {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
}

@mixin media-md {
  @media screen and (max-width:768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (max-width:1024px) {
    @content;
  }
}