@include media-md {
    .gallery {
        &__contain {
            @include masorney(auto, auto);
        }
    }

    .founders {
        &__content {
            display: none;
        }
    }

    .grid-view {
        @include grid (block, 2, auto, null);
    }

    .show {
        margin-top: 30px;

        li {
            border-bottom: 1px solid #ececec;
            padding: 10px;
            margin: 0;
        }
    }

    .navbar-light {
        .navbar-toggler {
            border-color: #03a9f400;
            color: #03a9f400;
        }
    }


    span.menu-line {
        width: 30px;
        height: 2px;
        background: #a2a2a2;
        display: block;
        margin: 7px 0px;
    }

    .navbar-toggler[aria-expanded="true"] span:nth-child(1) {
        transform: rotate(45deg) translate(3px, 2px);
        transition: all 0.5s ease-in-out;
    }

    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        display: none;
        transition: all 0.5s ease-in-out;
    }

    .navbar-toggler[aria-expanded="true"] span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -5px);
        transition: all 0.5s ease-in-out;
    }

    button.navbar-toggler.collapsed {
        transition: all 0.5s ease-in-out;
    }

}