// Font Variables
$base-font: 'Inter VariableFont', serif;
$header-font: 'Galaxie Copernicus', serif;


// Color Variables
$primary-color : #003A92;
$blue-color : #2196f3;
$bg-color : #F2EFEE;
$white-color : #ffffff;
$black-color : #000000;
$grey-color: #c8c8c8;
$red-color: #8C2531;
$brown-color: #3C3C3C;
$dark-grey-color: #74788A;
$light-grey-color: #D7C3AE;
$border-color: #C4C4C4;

$color-option-1 : #d6ff40; // Yellow
$color-option-2 : #1e6779; // Green Blue
$color-option-3 : #1a2831; // Dark Green Blue
$color-option-4 : #2a55ef; // Blue
$color-option-5 : #ffafb8; // Light Coral
$color-option-6 : #fd3c53; // Coral
$color-option-7 : #b5c3ff; // Light Blue
$color-option-8 : #0c0c0b; // Light Orange
$color-option-9 : #ffab00; // Orange
$color-option-10 : #ffd57e; // Light Orange

// Bootstrap Color
// $color-primary : $color-option-4 !default;
// $color-secondary : $color-black !default;
// $color-success : #28a745 !default;
// $color-info : $color-option-2 !default;
// $color-warning : $color-option-9 !default;
// $color-danger : $color-option-6 !default;

