.footer {
    background-color: $brown-color;

    ul {
        @include list-items;
        justify-content: start;
    }

    li {
        display: inline-block;
        margin-right: 20px;

        a {
            color: white;
            text-decoration: none;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: $blue-color;
            }
        }
    }


}