.social {
    &__items {
        @include list-items;
        @include flex(flex-end)
    }

    a {
        color: $dark-grey-color;

        &:hover {
            @include hover;
        }
    }
}

.navbar {
    @include size(96%, null);

    .active {
        color: $primary-color !important;
    }

    li {
        margin-left: 20px;
    }

    a {
        &:hover {
            @include hover;
        }
    }
}

.fixed {
    top: -70px;
    margin-top: 70px;
    width: 100%;
    position: fixed !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: margin 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    transition: margin 0.6s ease 0s, transform 0.6s ease 0s;
    z-index: 1;
}

.banner {
    position: relative;
    @include size(96%, 100%);

    &::after {
        @include position-absolute(0, 0, 0, 0);
        @include size(100%, calc(100vh - 138px));
        background-color: $white-color;
        margin-left: auto;
        z-index: -1;
    }

    h1 {
        font-size: 2.8rem;
        color: $primary-color;
    }

    img {
        @include size(94%, null);
        margin-left: auto;
    }
}